header
  .logo
  nav.navbar.navbar-expand-md.navbar-light.bg-light
    a.navbar-brand(href='/') WeatherInfo
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/weather') Weather
        li.nav-item.d-md-none
          include searchform
      div.d-none.d-md-block.w-100
        include searchform