form.form-inline.justify-content-md-end(method="get" action="/weather")
  input.form-control.mr-sm-2(type="search" placeholder="Your city (eng)" aria-label="Search" name="city")
  button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
