extends ../main

block title
  | WeatherInfo

block content
  .card.p-4
    h3.text-center Сервіс отримання даних про погоду

    .btn-container.d-flex.justify-content-center.mt-4
      a.btn.btn-primary(href="/weather")
        | Сторінка погоди
