extends ../main

block title
  | Results for: #{city}

block content
  .body.container.py-4.col-md-12
    if city && weather
      h1.text-center.my-2 Results for: #{city}
      table.table.col-md-4.offset-md-4.my-4
        each val,key in weather
          tr
            td.title #{key.replace('_', ' ')}
            td.value #{val}
    else
      h1.text-center.my-2 City is not found